#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #fb00f7aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #ff0000aa);
}

/* .card.btn{
  background-color: rgb(0, 166, 255);
  color: red;
  border-radius: 50px;
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10000000deg);
  }
}

@keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10000000deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background-color: rgb(0, 166, 255);
  color: red;
  border-radius: 50px;
}

.card.btn {
  color: blue;
}
.read-the-docs {
  color: #888;
}
